<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="io.eugestor.custom.plugin" version="1.0.0">
    <name>EuGestor - Plugin</name>
    <description>Custom plugin to deal with hook in OutSystems</description>
    <keywords>cordova,eugestor,outsystems</keywords>
    <repo>https://github.com/matheus-inacio/cordova-os-hook-plugin.git</repo>

    <js-module src="www/Empty.js" name="Empty">
        <clobbers target="cordova.plugins.percolatestudio.Empty" />
    </js-module>

     <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Empty" >
                <param name="android-package" value="com.percolatestudio.cordova.empty.PSEmpty"/>
            </feature>
        </config-file>
             
        <edit-config file="AndroidManifest.xml" target="/manifest/application/activity[@android:name='MainActivity']" mode="merge">
            <activity android:name="MainActivity" android:theme="@style/AppTheme"/>
        </edit-config>
        <source-file src="cordova-window-background-styles.xml" target-dir="app/src/main/res/values" />

        <source-file src="src/android/PSEmpty.java" target-dir="src/com/percolatestudio/cordova/empty" />
    </platform>

</plugin>
