<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="io.eugestor.custom.plugin" version="1.0.1">
    <name>EuGestor - Plugin</name>
    <description>Custom plugin to deal with hook in OutSystems</description>
    <keywords>cordova,eugestor,outsystems</keywords>
    <repo>https://github.com/matheus-inacio/cordova-os-hook-plugin.git</repo>

     <platform name="android">
        <hook type="after_plugin_install" src="scripts/androidBeforeInstall.js" />
        <source-file src="styles.xml" target-dir="app/src/main/res/values" />
    </platform>

</plugin>
